@font-face {
    font-family: "LuckiestGuy";
    src: url("../fuentes/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fuentes/Inter/static/Inter_18pt-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: center/cover no-repeat url("../img/fondo.png");
    display: flex;
    align-items: center;
}

#volver {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 8%;
}

#volver img{
    width: 45px;
    height: 45px;
}


#contenedor {
    width: 30%;
    margin-left: 25%;
    height: 80%;
}

/*====================== FORMULARIO ====================*/

.cont-form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-form h1{
    font-size: 36px;
    font-family: "LuckiestGuy";
    letter-spacing: 1px;
    color: #216E68;
}

.cont-form form {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    height: 100%;
    margin-top: 8%;
}

.input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    background-color: white;
    height: 50px;
    padding: 2%;
    padding-left: 4%;
    font-size: 16px;
    font-family: "inter";
    color: rgb(107, 107, 107);
}


/*====================== CONTADOR FALLOS EN LOS ENVÍOS ====================*/

#fallos {
    color: #216E68;
    font-family: "LuckiestGuy";
    font-size: 42px;
    text-align: center;
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

#fallos h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

/*====================== CONTADOR FALLOS EN LOS ENVÍOS ====================*/
#etiqueta{

}

/*====================== BOTONES ====================*/

#fallos button, #volverForm, #enviar{
    color: white;
    border: none;
    font-family: "LuckiestGuy";
    letter-spacing: 1px;
    width: 120px;
    height: 45px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

#fallos button, #volverForm  {
    margin-top: 10%;
    background-color: #F26132;
}

#fallos button:hover, #enviar:hover, #volverForm:hover{
    background-color: #953867;
}

#enviar {
    background-color: #216E68;
    align-self: center;
    margin-top: 8%;
}

#volverForm {
    width: 200px;
    height: 40px;
}