@font-face {
    font-family: "LuckiestGuy";
    src: url("../fuentes/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fuentes/Inter/static/Inter_18pt-Regular.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: center/cover url("../img/fondo.png");
}

#volver {
    margin-top: 2%;
    margin-left: 8%;
}

#volver img{
    width: 45px;
    height: 45px;
}

.cont-tabla {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 5%;
    order: 2;

}

table {
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.193);
}

td {
    border: 5px solid white;
}

.cont-text {
    width: 22%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.notas {
    font-family: "Inter";
    color: white;
    background-color: #953867;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.193);
    height: 12%;
    border-radius: 15px;
    text-align: center;
    padding: 2%;
    display: flex;
    align-items: center;
}

.cont-text span {
    color: #216E68;
    font-size: 32px;
    align-self: center;
    font-family: "LuckiestGuy";
}

#resultados {
    font-size: 42px;
    margin-bottom: 20%;
}


/*================ UTILIDADES =================*/

.oculta {
    background:#953867;
    cursor: pointer;
}

.revelada {
    background-image: url('../img/lisa.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: white;
    cursor: pointer;
}

.emparejada {
    background: #83CCC1;
}