*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: center/cover url("../img/fondo.png");
}

.cont-tabla {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 5%;

}

table {
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.193);
}

td {
    border: 5px solid white;
}


.resultado {
    margin-top: 4%;
    margin-right: 15%;
}


/*================ UTILIDADES =================*/

.oculta {
    background:#953867;
    cursor: pointer;
}

.revelada {
    background-image: url('../img/lisa.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: white;
    cursor: pointer;
}

.emparejada {
    background: #83CCC1;
}